apiVersion: apps/v1
kind: Deployment
metadata:
  name: viniciusramos-deployment
  labels:
    app: viniciusramos-american-predictor
spec:
  replicas: 2
  selector:
    matchLabels:
      app: viniciusramos-american-predictor
  template:
    metadata:
      labels:
        app: viniciusramos-american-predictor
    spec:
      containers:
      - name: viniciusramos-american-predictor
        image: docker.io/vrjuliao/american-predictor
        ports:
        - containerPort: 5026